$font-color: black;
$font-color-keyword: #b3d4fc;
$font-color-punctuation: #999;
$font-color-comment: slategray;
$font-color-property: #905;
$font-color-str: #690;
$font-color-regex: #e90;
$font-color-function: #DD4A68;
$font-color-attr: #07a;
$font-color-operator: #9a6e3a;
$font-color-pointer: #dd412c;



$font-size-h1: 3.5em !default; // ~ 49px
$font-size-h2: 2.5em !default; // ~ 35px
$font-size-h3: 1.825em !default; // ~ 28px
$font-size-h4: 1.5em !default; // ~ 24px
$font-size-h5: 1.3em !default; // ~ 22px
$font-size-h6: .9em !default; // ~ 12px

$font-paragraph: 1.2em !default;
$font-size-navbar: 1em !default;
$font-size-mini: 0.7142em !default;
$font-size-small: 0.8571em !default;
$font-size-base: 14px !default;
$font-size-large: 1em !default;
$font-size-large-navbar: 20px !default;
$font-size-blockquote: 1.1em !default; // ~ 15px
$font-size-large-medium: 1.2em !default;
$font-size-large-big: 1.5em !default;
