.footer {
    padding: 24px 0;

    &.footer-default {
        background-color: #f2f2f2;
    }

    .copyright {
        font-size: $font-size-small;
        .beian {
            margin-left: 5px;
        }
        .site {
            font-size: $font-size-large-medium;
            font-weight: $font-weight-normal;
        }
        .copyright {
            font-size: $font-size-large-medium;
            font-weight: $font-weight-bold;
            margin: 0 1px 0 1px;
        }
    }
    .copyright-white{
        color: $default-color;
        a{
            color: $default-color !important;
        }
    }

    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}
