.lead {
    font-size: 1.05rem;
    text-align: justify;
}
.bgshadow{
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.info-page {
    .left-content {
        margin-right: 1rem;

        .left-row {
            margin-right: 0;
            .jumbotron{
                padding: $padding-card;
                .badge-custom {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0.2rem 0 0.8rem 0;
                    line-height: 1.2rem;
                    min-width: 6rem;
                    width: auto;
                }
                .reset-h3{
                    text-align: center;
                    margin-bottom: 0.5rem;
                }
                .lead{
                    line-height: $line-height-normal;
                    font-weight: $font-weight-normal;
                    .fa{
                        font-size: $font-size-small;
                        margin-left: $padding-label-horizontal;

                        b{
                            margin-left: $padding-small-vertical;
                        }
                    }
                }
            }
        }
    }

    .right-content {
        .row{
            margin-left: 0;
            .card{

                font-weight: $font-weight-normal;
                margin: 0 0.8rem;
                .card-header{
                    line-height: $line-height-normal;
                    padding: $padding;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                    font-weight: $font-weight-bold;
                    font-size:$font-size-large-medium;
                }
                .list-group{
                    padding: $padding;
                    .list-group-item{
                        background: none;
                        font-weight: $font-weight-normal;
                        font-style: $font-size-h6;
                        border: 0 !important;
                        padding: $padding-tb;
                    }
                }
            }
        }

    }
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}
@media (min-width: 576px){

    .jumbotron {
        padding: 2.4rem 0.5rem 1rem;
    }
}

@media screen and (max-width: 768px) {

    .info-page{
        .right-content{
            .row{
                .card{
                    margin-left: 0 !important;
                    margin-bottom: $line-height-nav-link;
                }
            }
        }
        .left-content{
            .left-row{
                .jumbotron{
                    .lead{
                        line-height: $font-size-h3;
                    }
                }
            }
        }
    }
}
